:root {
    --primary: #d81e5b;
    --secondary: #8c38ff;
    --dark: #131a26;
    --light: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex-direction:column;

}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}


.display {
    padding: 16px;
    text-align: right;
    background-color: var(--dark);
    color: var(--light);
    font-size: 24px;
    font-weight: 300;
}

.display span {
    font-size: 14px;
    color: #888;
}

button {
    border: none;
    outline: none;
    color: #FFF;
    font-size:20px;
    padding: 16px;
    cursor:pointer;
    transition: 0.4s;
}

button:hover{
    opacity: 0.9;
}

.functions {
    display: flex;
}

.functions button {
    flex: 1 1 0%;
    background-color: var(--primary);
    font-weight: 700;
}

.operators {
    display: flex;
    flex-direction: column;
    float: right;
    width: 25%;
}

.operators button{
    flex: 1 1 0%;
    background-color: var(--primary);
    font-weight: 700;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width:75%;
}

.digits button {
    flex: 1 1  33.33%;
    max-width: 33.33%;
    background-color: var(--dark);
}

.history {
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.reset {
    float: right;
    background-color: grey;
    border-radius: 16px;
}